/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

.flavortext {
	font-family: "Comic Sans MS";
	font-size: 10px;
}
body {
  	background-color: white;
  	color: black;
  	font-family: Verdana;
	background-image: linear-gradient(#2f97bd, #0d6c5d);
	background-size: cover;
	margin: 0 auto;
}
ul, ol, dl, p {
	font-size: 1rem;
}
li, p {
	line-height: 1.25;
}
ul, li {
	padding-left: 1.5rem;
}
li {
	background-size: 1.5rem 1.2rem;
	background-repeat: no-repeat;
	background-image: url("list-icon.png");
	background-position: 0 0;

}
ul {
	padding-left: 0;
	list-style-type: none;
}
img {
	max-width: 100%;
	max-height: 100%;
	object-fit: scale-down;
}
header {
	margin: 0 auto;
	max-height: 25%;
}
.content {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 900px;
	margin: 0 auto;
}
#sidebar {
	flex: 1;
	max-width: 20%;
	position: sticky;
	top: 10px;
	align-self: flex-start;
}
#main-content {
	flex: 2;
}
.content-frame {
	padding: 1rem;
	width: 250px;
	background-color: #52bfe0;
	border: 3px solid #2596be;
	margin: 20px auto;
	border-radius: 10px;
}
footer {
	background-image: url("./footer-top.png"), url("./footer.png");
	background-size: auto 30px, 100% 95%;
	background-repeat: no-repeat;
	background-position: 50% 0, bottom;
	padding: 0px;
	border: 0px;
	min-width: 100%;
	position: static;
	width: 100%;
	margin: 0 auto;
	min-height: 100px;
}
.flex-line {
	height: 100%;
	display: flex;
	flex-flow:row wrap;
	align-items: center;
	justify-content: center;
	padding: 40px 0 0 0;
}
.flex-line-element{
	margin: 3px;
}
#footer-text {
	font-size: 10px;
	margin: 0;
	padding: 0 0 10px 0;
}
